html {
    font-family: 'Source Serif Pro', serif;
    font-size: 18px;
    background-color: #fff;

}
body {
    margin: 1% auto;
    padding: 0 20px 20px 20px;
    width: 90%;

    border: 3px solid black;
}
h1, h2 {
    margin: 0;
    padding: 20px 0;
    color: black;
    text-align: center;
}
#logo, #team_photo {

    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

#p1, #p2, #p3 {
    font-size: 20px;
    line-height: 1.1;
    letter-spacing: 1px;
    padding: 10px;
    border: solid 1px;
}


ul {
    background: aliceblue;
    padding: 10px;
    border: solid 1px;
}

li {
    margin-left: 20px;
}
figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 90%;
    margin: 0 auto;
}
figcaption {
    background-color: silver;
    color: black;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}
