html {
    font-family: 'Source Serif Pro', serif;
    font-size: 20px;
    background-color: azure;

}
body {
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    width: 50%;
    background-color: #f7fcff;
    border: 3px solid black;
}
h1 {
    margin: 0;
    padding: 20px 0;
    color: black;
    text-align: center;
}
#logo {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}
#team_photo {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    display: block;
}
#p1 {
    font-size: 20px;
    line-height: 1.1;
    letter-spacing: 1px;
    padding: 10px;
    border: solid 1px;
}
#p2 {
    font-size: 20px;
    line-height: 1.1;
    letter-spacing: 1px;
    padding: 10px;
    border: solid 1px;
}
#p3 {
    font-size: 20px;
    line-height: 1.1;
    letter-spacing: 1px;
    padding: 10px;
    border: solid 1px;
}
#up1 {
    font-size: 12px;
}
#up2 {
    font-size: 12px;
}


